<div class="navigation">
    <a class="button">
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png">
        <div class="logout" (click)="signOutWithCognito()">Logout</div>
    </a>
</div> 

<div class="user-content align-items-center row">
        <h2> 
            <a href="/emenu" *ngIf="router.url != '/emenu'">Workout Menu</a>  
        </h2> 
        <h2>
            <a href="/">Home</a>
        </h2>
        <h2>
            <a href="">Build A Workout</a>
        </h2>
</div> 

<div class="banner">
    <h2 *ngIf="router.url == '/'">Welcome to WolfPack Fitness</h2>
</div>

