<app-home></app-home>
<div class="container w-100 justify-content-center align-items-center">
    <div class="header justify-content-center align-items-center">
        <!--exercise selection identifiers-->
        <!-- should be displaying muscles in the database
        clickable -->
        <!-- page navigation -->
        <div class="muscle-list w-100 justify-content-center align-items-center" >
            <ul>
                <li *ngFor="let muscle of muscleList" (click)="specificExercises(muscle)"><a>{{muscle}}</a></li>
            </ul>
        </div>
        
    </div>
    <div class="content row w-100">
        <!-- exercises -->
        <!-- with columns for object parameters (tutorial, muscles, etc) -->
        <!--should be displaying all exercises at first-->
        <table class="w-100 justify-content-center align-items-center"> 
            <thead class="">
                <th>Exercise</th>
                <th>Muscles</th>
                <th>Tutorial</th>
            </thead>
            <tbody >
              <tr *ngFor="let exercise of exerciseList">
                <td>
                    <span><a (click)="showInfo(exercise)">{{exercise.id}}</a></span>
                </td>
                <td>
                    <span>{{exercise.muscles}}</span>
                </td>
                <td>
                    <span>{{exercise.tutorial}}</span>
                </td>
              </tr>
            </tbody>
           
        </table>  
    </div>
 </div>

